@import '../01-abstracts/variables';


.btn-blueball {
    background-color: $ball-blue;
    color: $white;
    border-radius: 0;

    &:hover {
      background-color: $middle-blue;
      color: $white;
    }

    &:focus {
      background-color: $spanish-gray;
      box-shadow: none;
    }
}

.btn-blanco {
    background-color: $white;
    color: $raising-black;
    border-radius: 0;
    margin-right: 5px;

    &:hover {
      background-color: $platinum;
      color: $raising-black;
    }

    &:focus {
      background-color: $spanish-gray;
      color: $white;
      box-shadow: none;
    }
}