@import '01-abstracts/variables';

@import '04-components/buttons';
@import '04-components/cards';

@import '06-pages/desktop';
@import '06-pages/mobile';

//FUENTES
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  font-weight: bold;
  src: url("../fonts/Raleway-Bold.ttf");
}


//TITULOS MOBILE
h1 {
    font-family: "Raleway" !important;
    font-size: 60px;
    font-weight: bold;
  }

  h2 {
    font-family: "Raleway" !important;
    font-size: 40px;
    font-weight: bold;
  }

  h3 {
    font-family: "Raleway" !important;
    font-size: 30px;
    font-weight: bold;
  }
  h4 {
    font-family: "Raleway" !important;
    font-size: 20px;
    font-weight: normal;
  }

  p {
    font-family: "Open Sans";
    font-size: 20px;
  }


// NAVBAR
.navbar {
    padding: 5vh 8.5vw;
    font-family: "Raleway";
}

.navbar-toggler{
    border: none;
    fill:black;

    &:focus{
        outline: none;
    }
}

//HERO SECTION
.trek {

    background-image: url(../img/bg-hero.svg);
    background-repeat: no-repeat;
    background-size: auto 500px;
    background-position-y: 25rem;
    background-position-x: -20rem;;
    
    
    & #intro {
    width: 400px;
    margin-left: 8.5vw;
    padding-top: 7vh;
    line-height: 1.7;
    }

    & .carac {
        margin-top: 550px;
        margin-bottom: 100px;
        padding: 0 16vw;
        text-align: center;
    }

    & .estad {
        text-align: left;
        margin-top: 10vh;
    }
}

//PRECIOS
#precios {
    background-image: url(../img/bg-price.svg);
    background-repeat: no-repeat;
    background-size: auto 1300px;
    height: 1300px;
    text-align: center;
    color: white;
    padding: 200px 16vw 0px 16vw;

    & .carta{
        margin-bottom: 20px;
    }
}

//FOOTER
footer {
    background: #221d23;
    height: 20vh;
    padding: 0;
    margin: 0;

    & .navbar {
      padding: 5vh 8.5vw;
    }

    & .nav-item {
      display: inline-block;
    }

    & ul li a,
    ul li a:hover {
      color: #8f9199;
      font-family: "Raleway";
      text-decoration: none;
    }

    & p {
      color: #8f9199;
      display: block;
    }
  }









@media only screen and (min-width: 600px) {
  .navbar {
    padding: 5vh 8.5vw;
    font-family: "Raleway";
  }

  nav form button {
    font-weight: bold;
  }

  .trek {
    background-image: url(../img/bg-hero.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 0rem;
    background-position-x: 0rem;
  }

  #intro {
    width: 400px;
    margin-left: 8.5vw;
    padding-top: 10vh;
  }

  h1 {
    font-family: "Raleway" !important;
    font-size: 50px;
    font-weight: bold;
  }

  h2 {
    font-family: "Raleway" !important;
    font-size: 40px;
    font-weight: bold;
  }

  h3 {
    font-family: "Raleway" !important;
    font-size: 30px;
    font-weight: bold;
  }
  h4 {
    font-family: "Raleway" !important;
    font-size: 20px;
    font-weight: normal;
  }

  p {
    font-family: "Open Sans";
    font-size: 16px;
  }

  .carac {
    margin-top: 550px;
    margin-bottom: 100px;
    padding: 0 250px;
    text-align: center;
  }

  .estad {
    text-align: left;
  }

  #precios {
    background-image: url(../img/bg-price.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 0rem;
    background-position-x: 0rem;
    height: 880px;
    text-align: center;
    color: white;
    padding: 200px 200px 0px 200px;

    & .carta{
        margin-bottom: 0px;
    }
  }

  footer {
    background: #221d23;
    height: 20vh;
    padding: 0;
    margin: 0;

    & .navbar {
      padding: 5vh 8.5vw;
    }

    & .nav-item {
      display: inline-block;
    }

    & ul li a,
    ul li a:hover {
      color: #8f9199;
      font-family: "Raleway";
      text-decoration: none;
    }

    & p {
      color: #8f9199;
      display: inline;
    }
  }
}
